// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  background-image: image-url('patrick-tomasso-151382.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}

#testing{
  font-family: 'Dancing Script', cursive;
  font-size: 160%;
  position: absolute;
  color: lightgoldenrodyellow;
  width: 100px;
  left: 50%;
  margin-left: -50px;
  text-align: center;
  top: 20%;
}

.navbar-inverse .navbar-nav  li  a {
  font-family: 'Josefin Slab', sans-serif;
  color: lightgoldenrodyellow;
}

h1{
  font-family: 'Josefin Slab', sans-serif;
  font-size: -webkit-xxx-large;
  color: black;
  position: absolute; /* CENTERED TEXT*/
  top: 50%; /* CENTERED TEXT*/
  left: 50%; /* CENTERED TEXT*/
  transform: translate(-50%, -50%); /* CENTERED TEXT*/
}

h3{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: xx-large;
  color: black;
  position: absolute; 
  top: 65%; /* CENTERED TEXT*/
  left: 50%; /* CENTERED TEXT*/
  transform: translate(-50%, -50%); /* CENTERED TEXT*/
}

//position: absolute; /* CENTERED TEXT*/
//top: 50%; /* CENTERED TEXT*/
//left: 50%; /* CENTERED TEXT*/
// transform: translate(-50%, -50%); /* CENTERED TEXT*/

.navbar-inverse{
  background-color: rgba(0,0,0,0.5); /* THIS PROVIDES A TRANSPARENT BACKGROUND */
}
