// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  background-image: image-url('patrick-tomasso-151382.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}

h1{
  font-family: 'Josefin Slab', sans-serif;
  color: black;
  background-color: white;
  position: absolute; /* CENTERED TEXT*/
  top: 50%; /* CENTERED TEXT*/
  left: 50%; /* CENTERED TEXT*/
  transform: translate(-50%, -50%); /* CENTERED TEXT*/
}

//position: absolute; /* CENTERED TEXT*/
//top: 50%; /* CENTERED TEXT*/
//left: 50%; /* CENTERED TEXT*/
// transform: translate(-50%, -50%); /* CENTERED TEXT*/

.navbar-inverse{
  background-color: rgba(0,0,0,0.5); /* THIS PROVIDES A TRANSPARENT BACKGROUND */
}
